<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>TxtMetric — {{ .order.Title }}</title>
  
  <link rel="stylesheet" href="/static/styles/text_style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

  <!-- хедер  -->
  <header class="header">
    <a class="brand" href="/texts">TxtMetric</a>
  </header>


  
  <h1 class="page-title">{{ .text.Title }}</h1>

  
  <main class="container">
  <section class="detail-grid">
    <figure class="card">
      <img src="{{ .text.ImageURL }}" alt="{{ .text.Title }}">
    </figure>
    <div class="card muted desc">
      {{ .text.Description }}
      
    </div>
     <div class="price-chip" aria-label="Цена услуги">
        <span class="price-chip__label">Цена:</span>
        <span class="price-chip__value">{{ .text.Price }}&nbsp;₽</span>
      </div>
    
  </section>

  
</main>

</body>
</html>
