<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>TxtMetric — Тексты</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/static/styles/texts_style.css">

</head>
<body>
  <header class="header">
    <a class="brand" href="/texts" aria-label="Домой">TxtMetric</a>
  </header>

  <main class="container">
    <h1 class="page-title">Тексты</h1>

    <!-- поиск-->
    <form class="search" action="/texts" method="GET">
      <input type="text" name="searchTexts" placeholder="Поиск текстов" value="{{ .searchTexts }}">
      
    </form>

     <!-- плитка карточек */ -->
    <section class="grid">
      {{ range .texts }}
      <article class="card" data-id="{{ .ID }}">
        <!-- <a href="/hello/{{ .ID }}"> -->
        
        <form action="/texts" method="POST" class="add-form">
          <input type="hidden" style="height: 0px;" name="text_id" value="{{.ID}}">
          <input type="hidden" style="height: 0px;" name="search" value="{{ $.searchTexts }}">
          <button type="submit"  class="button add">
              <img class="card__img" src="{{ .ImageURL }}" alt="{{ .Title }}">
          </button>
        </form>
        
        <div class="card__body">
          <h3 class="card__title">{{ .Title }}</h3>
          <a class="btn" href="/texts/{{ .ID }}">Подробнее</a>
        </div>
      </article>
      {{ end }}
    </section>
  </main>
  {{if .readIndxsCount}}
  <a class="readIndxs" href="/readIndxs/{{.readIndxsId}}" title="Текущая заявка">
    <img src="/static/img/cart2.svg" 
     class="readIndxs__icon" 
     width="24" height="24" 
     alt="Корзина">
    <span class="readIndxs__badge">{{ .readIndxsCount }}</span>
  </a>
  {{end}}
  

</body>
</html>
